main{
    width: 100%;
    height: 100vh;
    background-color: #005eb8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    >.circle{
        width: 500px;
        height: 500px;
        border-radius: 50%;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        gap: 8px;
        rotate: 45deg;
        /* overflow: hidden; */
        transition: 0.4s;
        &:Hover{
            gap: 0;
        }
        >div{
            width: 500px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
            border-radius: 50%;
            transform: translate3d(-25%,-25%,0);
            &:nth-of-type(1){
                background-image: url(../img/Collabrorative.webp);
                background-size: contain;
                rotate: 225deg;
                transform: translate3d(0%,0,0);
                clip-path: polygon(50% 50%, 75% 25%, 99% 1%, 100% 0%, 100% 100%, 99% 99%, 75% 75%);
                &:hover{
                    clip-path: polygon(50% 50%, 0% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%);
                    z-index: 10;
                }
            }
            &:nth-of-type(2){
                background-image: url(../img/Adventurous.webp);
                background-size: contain;
                transform: translate3d(-35.5%,-35%,0);
                clip-path: polygon(50% 50%, 75% 25%, 99% 1%, 100% 0%, 100% 100%, 99% 99%, 75% 75%);
                rotate: -45deg;
                &:hover{
                    clip-path: polygon(50% 50%, 0% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%);
                    z-index: 10;
                }
            }
            &:nth-of-type(3){
                background-image: url(../img/Energetic.webp);
                background-size: contain;
                transform: translate3d(-35.5%,35%,0);
                rotate: 135deg;
                clip-path: polygon(50% 50%, 75% 25%, 99% 1%, 100% 0%, 100% 100%, 99% 99%, 75% 75%);
                &:hover{
                    clip-path: polygon(50% 50%, 0% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%);
                    z-index: 10;
                }
            }
            &:nth-of-type(4){
                background-image: url(../img/Reliable.webp);
                background-size: contain;
                rotate: 45deg;
                transform: translate3d(-70.5%,0%,0);
                clip-path: polygon(50% 50%, 75% 25%, 99% 1%, 100% 0%, 100% 100%, 99% 99%, 75% 75%);
                &:hover{
                    clip-path: polygon(50% 50%, 0% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%);
                    z-index: 10;
                }
            }
        }
    }
    >.box{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -300px;
        >span{
            width: 30%;
            height: 50px;
            text-transform: capitalize;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.15);
            color: white;
            &:hover{
                background-color: rgba(255, 255, 255, 0.08);
            }
        }
    }
}